<%= div_for comment do %>
  <p>
  	<strong><%= comment.name %></strong> says:<br />
  	<%= h(comment.body) %> &nbsp |             
  	<%= link_to 'Delete', [@post, comment], :method => :delete, :confirm => 'Are you sure?' %><br />
  	<strong>Posted <%= time_ago_in_words(comment.created_at) %> ago</strong>
  </p>

<% end %>