

<%= div_for post do%>
  <h2 class="titles"><%= link_to_unless_current h(post.title), post %></h2>
  <%=h simple_format truncate(post.body, :length => 1000, :separator => ' ', :omission => "...Read More") %>
  <h5>Posted <%= time_ago_in_words(post.created_at) %> ago </br>
      <%= post.comments.size %> Comments
  </h5>
<% end %>



