<div id="title"><h1 id="title">Riding on Rails</h1></div>
<h3 id="subtitle">My Journey into Web Development</h3>



<%= render :partial => @posts %>


<%= will_paginate @posts %><br/>
<% if logged_in? %>
<%= link_to 'New Post', new_post_path %>
<div style="text-align: right"><%= link_to 'logout', logout_path %></div>
<% else %>
<div style="text-align: right"><%= link_to 'Login', login_path %></div>
<% end %>




